body{
  margin:0;
  background:#0f0f10;
  color:white;
  font-family:system-ui;
  overflow:hidden;
}

.view{
  display:none;
  width:100vw;
  height:100vh;
  position:absolute;
  top:0;
  left:0;
}

.view.active{
  display:block;
}

/* HOME */
.center{
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.cards{
  display:flex;
  gap:20px;
}

.card{
  width:140px;
  height:140px;
  background:#161617;
  border:1px solid #2a2a2a;
  border-radius:12px;

  display:flex;
  justify-content:center;
  align-items:center;

  cursor:pointer;
  transition:.2s;
}

.card:hover{
  transform:scale(1.06);
  border-color:#7c4dff;
}

.card h2{
  font-size:22px;
  font-weight:800;
}

/* TOPBAR */
.topbar{
  position:absolute;
  top:0;
  left:0;
  right:0;

  padding:14px;
  display:flex;
  gap:12px;
  z-index:1000;
}

button{
  background:#161617;
  border:1px solid #2a2a2a;
  color:white;
  padding:8px 14px;
  border-radius:10px;
  cursor:pointer;
}

button:hover{
  border-color:#7c4dff;
}

/* DROPZONE */
.dropzone{
  position:absolute;
  top:60px;
  left:16px;
  right:16px;
  bottom:16px;

  border:2px dashed #2a2a2a;
  border-radius:12px;

  display:flex;
  justify-content:center;
  align-items:center;

  color:#666;
}

.dropzone input{
  position:absolute;
  width:100%;
  height:100%;
  opacity:0;
}

/* VIEWER */
.viewer{
  display:none;
  width:100%;
  height:100%;
  justify-content:center;
  align-items:center;
}

img{
  max-width:100%;
  max-height:100%;
}

/* TEXT */
.text-wrapper{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

#text-area{
  width:70%;
  height:70%;
  background:#161617;
  color:white;
  border:1px solid #2a2a2a;
  border-radius:12px;
  padding:20px;
  resize:none;
}

/* SCHOOL */
.school-container{
  margin-top:70px;
  padding:30px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.school-title{
  width:60%;
  font-size:18px;
  font-weight:700;
  margin-bottom:15px;
}

.school-list{
  width:60%;
  display:flex;
  flex-direction:column;
  gap:12px;
}

.school-item{
  background:#161617;
  border:1px solid #2a2a2a;
  border-radius:12px;
  padding:16px;
  cursor:pointer;
  transition:0.2s;
}

.school-item:hover{
  transform:scale(1.02);
  border-color:#7c4dff;
}

.item-title{
  font-weight:600;
}

.item-sub{
  font-size:12px;
  color:#777;
}

/* STA LAYOUT */
.layout{
  display:flex;
  height:100vh;
  margin-top:50px;
}

.sidebar{
  width:220px;
  background:#161617;
  border-right:1px solid #2a2a2a;
  display:flex;
  flex-direction:column;
  padding:10px;
  gap:10px;
}

.side-title{
  font-weight:800;
  margin-bottom:10px;
}

.side-item{
  padding:10px;
  border-radius:8px;
  cursor:pointer;
  transition:0.2s;
}

.side-item:hover{
  border:1px solid #7c4dff;
}

.content{
  flex:1;
  padding:30px;
}