body{
  margin:0;
  background:#0f0f10;
  color:white;
  font-family:system-ui;
  overflow:hidden;
}

.view{
  display:none;
  width:100vw;
  height:100vh;
  position:absolute;
  top:0;
  left:0;
}

.view.active{
  display:block;
}

/* HOME */
.center{
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.cards{
  display:flex;
  gap:20px;
}

.card{
  width:140px;
  height:140px;
  background:#161617;
  border:1px solid #2a2a2a;
  border-radius:12px;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}

.card:hover{
  transform:scale(1.05);
  border-color:#6c8fff;
}

/* TOPBAR */
.topbar{
  position:absolute;
  top:0;
  left:0;
  right:0;
  padding:14px;
}

/* SCHOOL */
.school-container{
  margin-top:70px;
  padding:30px;
}

.school-item{
  background:#161617;
  padding:16px;
  border-radius:12px;
  cursor:pointer;
}

/* BACK BUTTON (STA) */
.back-btn{
  position:fixed;
  top:15px;
  left:15px;
  z-index:9999;

  text-decoration:none;
  font-family:monospace;
  font-size:12px;

  padding:8px 12px;
  border-radius:6px;

  background:#16181f;
  border:1px solid #2a2d3a;
  color:white;
}

.back-btn:hover{
  border-color:#6c8fff;
  color:#6c8fff;
}